<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>2022卡塔尔世界杯娱乐网</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form method="post">
    <p align="center">2022卡塔尔世界杯娱乐网</p>
    <div align="center">
        <button name="orderStatus" value="0" style="width:200px;height:100px;font-size: 20px" formaction="/soccer/confirmorderlist">
            确认中订单一览
        </button>
        <br>
        <br>
        <button name="orderStatus" value="1" style="width:200px;height:100px;font-size: 20px" formaction="/soccer/confirmorderlist">
            下单成功一览
        </button>
        <br>
        <br>
        <button style="width:200px;height:100px;font-size: 20px" formaction="/soccer/userlist">
            结账
        </button>
    </div>
</form>
</body>
</html>
