<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>2022卡塔尔世界杯娱乐网</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript"  th:inline="javascript">
	</script>
</head>
<body>
<form method="post">
    <div align="center">
        <h2>2022卡塔尔世界杯娱乐网</h2>
        <input type="hidden" name="orderName" value="">
        <input type="hidden" name="orderStatus" value="">
        <input type="hidden" name="stageId" value="">
        <input type="hidden" name="showFlag" value="0">

        <button style="width:200px;height:100px;font-size: 50px" formaction="/soccer/soccerorderlist">
            查询
        </button>
        <br>
        <br>
        <button style="width:200px;height:100px;font-size: 50px" formaction="/soccer/soccerorder">
            下单
        </button>
    </div>
</form>
</body>
</html>
